
<div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Neu Kunde</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <%= simple_form_for @kunde, :html => { :class => 'form-horizontal' } do |f| %>

                        <%- if f.error_notification %>
                          <div class="alert alert-error fade in">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            <%= f.error_notification %>
                          </div>
                        <%- end %>
                    <div class="card-body">

                            <%= f.input :name  %>

                            <%= f.input :email, input_html: { autocomplete: 'email' } %>
                            <%= f.input :url, input_html: {type: 'url'}, required: true %>
                            <%= f.input :ansprechpartner %>
                            <%= f.input :telefon, :required => true, input_html: {type: 'number'} , :data => {:mask=> '999-999-9999'} %>


                    </div>

                    <div class="card-footer">
                      <div class="form-actions">
                        <%= f.button :submit, :class => "btn btn-primary" %>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
      </div>
